p {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

div {
    margin: 0;
    padding: 0;
}

.workspace-container {
    flex-grow: 3;
    display: flex;
    flex-flow: row nowrap;
}

.resize-handler {
    cursor: ew-resize;
    height: 100%;
    border: 2px solid gray;
}

.resize-handler-horizontal {
    cursor: ew-resize;
    width: 100%;
    border: 2px solid gray;
}

.dtree-container {
    min-width: 250px;
    width: 400px;
    width:100%;
    box-sizing: border-box;
    flex-grow: 1;
}

.editor-container {
    background-color: #1e1e1e;
    overflow: hidden;
    flex-grow: 2;
    width: 100%;
    height: 100%;
    position: relative;
}

.editor {
    flex-grow: 3;
    z-index: 50;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.theme-select {
    width: 200px;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

.terminal-container {
    z-index: 100;
    min-height: 10vh;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    flex-grow: 1;
    overflow: hidden;
}

.terminal-resizer {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.terminal {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.stdout {
    width: 100%;
    height: 100%;
    white-space: pre-line;
    overflow-y: scroll;
    min-height: 20vh;
    background: #000000;
    color: #ffffff;
}

.video-container {
    width: 400px;
    height: 224px;
    background-color: black;
}

.local-video {
    z-index: 500;
    position: absolute;
    top: 0;
    right: 0;
}

.remote-video {
    z-index: 499;
    position: absolute;
    top: 226px;
    right: 0;
}
